<%= form_with(model: task) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= "#{I18n.t(error.attribute)}：#{error.message}" %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "#{I18n.t("title")}" %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label "#{I18n.t("content")}" %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label "#{I18n.t("tag")}" %>
    <% tags = "" %>
    <% @task.tags.select { |tag| tags += "##{tag.name}" } %>
    <%= form.text_field :tag, value: tags, placeholder: "多個標籤使用空格分開" %>
  </div>
  
  <div class="field">
    <%= form.label "#{I18n.t("start_time")}" %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label "#{I18n.t("end_time")}" %>
    <%= form.datetime_select :end_time %>
  </div>

  <div class="field">
    <%= form.label "#{I18n.t("piority")}" %>
    <%= form.select(:piority, { "#{I18n.t("low")}": "low", "#{I18n.t("medium")}": "medium", "#{I18n.t("high")}": "high" }) %>
  </div>

  <div class="field">
    <%= form.label "#{I18n.t("state")}" %>
    <%= form.select(:state, { "#{I18n.t("pending")}": "pending", "#{I18n.t("processing")}": "processing", "#{I18n.t("finished")}": "finished" }) %>
  </div>

  <div class="actions">
    <%= form.submit "#{I18n.t("create_task")}" %>
  </div>
<% end %>
