<h1><%= I18n.t("edit_task") %></h1>

<%= render "form", task: @task %>

<%= link_to I18n.t("show"), @task %> |
<% unless @current_user.admin %>
<%= link_to I18n.t("back"), tasks_path %>
<% else %>
<%= link_to I18n.t("back"), admin_users_path %>
<% end %>