<p id="notice"><%= notice %></p>

<p>
  <strong><%= "#{I18n.t("title")}: " %></strong>
  <%= @task.title %>
</p>

<p>
  <strong><%= "#{I18n.t("content")}: " %></strong>
  <%= @task.content %>
</p>

<p>
  <strong><%= "#{I18n.t("tag")}: " %></strong>
  <%= @task.tag %>
</p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong><%= "#{I18n.t("start")}: " %></strong>
  <%= @task.start %>
</p>

<p>
  <strong><%= "#{I18n.t("end")}: " %></strong>
  <%= @task.end %>
</p>

<p>
  <strong><%= "#{I18n.t("piority")}: " %></strong>
  <%= @task.piority %>
</p>

<p>
  <strong><%= "#{I18n.t("state")}: " %></strong>
  <%= @task.state %>
</p>

<%= link_to I18n.t("edit"), edit_task_path(@task) %> |
<%= link_to I18n.t("back"), tasks_path %>
